force-app/main/default/flows/Optimize_Listing-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Optimize Listing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Optimize Listing</label>
    <processType>Flow</processType>
    <screens>
        <name>Comp_List</name>
        <label>Comp List</label>
        <locationX>378</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Price_Change</targetReference>
        </connector>
        <fields>
            <name>compList</name>
            <extensionName>c:FlowScreenCompList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>363</locationX>
        <locationY>602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>compl</name>
            <extensionName>c:FlowScreenComplete</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Price_Change</name>
        <label>Price Change</label>
        <locationX>376</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Upload_Pics</targetReference>
        </connector>
        <fields>
            <name>priceChange</name>
            <extensionName>c:FlowScreenPriceChange</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Pics</name>
        <label>Upload Pics</label>
        <locationX>377</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <fields>
            <name>imageUpload</name>
            <extensionName>c:FlowScreenImageUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Comp_List</startElementReference>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
